.calculation {
	margin-bottom: 15px;
}
.calculation__p {
	margin-bottom: 0;
}

.calculation__recommend {
	margin-top: 20px;
}

.calculation__spec-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calculation__spec-item p {
	font-weight: 400;
	margin-bottom: 10px;
	color: #66696f;
}

.calculation__spec-icon {
	margin-right: 5px;
	margin-bottom: 8px;
	font-size: 25px;
	font-weight: 400;
}

.calculation__spec-list {
	display: flex;
	justify-content: space-evenly;
	padding: 10px 10px;
}
